*{
    margin: auto;
    padding: auto;
}
.page-wrapper{
    width: 900px;
    height: 700px;
    background-color: black;
    border: 1px black solid;
}

.main-logo{
    color: white;
    display: flex;
    justify-content:left;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
}

.border-line{
    margin-top: 15px;
    height: 5px;
    width: 900px;
    background-color: #ADFF00
}


body {
    background: #000;
    
  }


